<div class="container">
  <h1>Home</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi
    rerum, laboriosam, culpa reiciendis alias placeat dolore molestiae laborum
    unde nostrum repellat minus veniam, nesciunt temporibus nobis quis omnis
    expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
    corrupti molestiae iste minus optio aliquam aspernatur consectetur labore
    delectus inventore, error rerum commodi assumenda fuga blanditiis illo ipsum
    ratione! Excepturi.
  </p>
</div>
